@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Begin Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* Imagens são elementos inline, e não ocupam toda a lagura da página, como os blocks.
Neste caso todas as imagens agora estão definidas como block */

/* End Reset */

/* Utility Classes */

.nowrap {
    white-space: nowrap;
    /* Para que texto não quebre. No caso 'Hello I'm Jane */
}

.offscreen {
    position: absolute;
    left: -10000px;
    /* Para que o figcaption não fique visível sem desaparecer do documento. */
}

/* End Utility Classes */

body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    background-image: url(../img/bubbles.png), linear-gradient(-35deg, steelblue, white); /* É possível colocar img(png) e linear-gradient juntos. Os valores das propriedades abaixo seguem a ordem (url) > (linear-gradient) */
    background-repeat: repeat-y, no-repeat;
    background-position: right;
    background-size: 15%, auto;
}

.container {
    background-color: rgb(251, 210, 156); /* Fallback */
    background-image: url(../img/map-2176x1451.png);
    background-size: cover;
    background-position: top right; /* Posição x e y */
    background-repeat: no-repeat;
}

.hero {
    border: 1px solid red;
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: hsla(0, 0%, 100%, 0.377); /* Background como filtro da seção hero. */
}

.h1 {
    font-size: 500%;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
}

.profile-pic-figure {
    width: 35%;
}

.profile-pic-figure>img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double hsl(0, 0%, 0%);
    border-radius: 50%;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
    height: auto;
    /* A largura e a altura estão definidas no html, mas é necessário atribui-las aqui para tornar a imagem responsiva. */
}

.home {
    padding: 50px;
}

.home > a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .2s;
}

.home > a:hover {
    transform: scale(1.2); /* scale não funciona em elementos inline > Mudar para inline-block. */
    color: blue;
}