@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {
    /* fonts */
    --FF: 'Nunito', sans-serif;
    --FS: 1.5rem;
    --FS-XL: 3rem;
    /* colors */
    --BGCOLOR: #475569;
    --ALT-BGCOLOR: #1e293b;
    --RADIAL-COLOR: whitesmoke;
    --LIGHT-COLOR: whitesmoke;
    --DARK-COLOR: #000;
    --SMALL-COLOR: pink;
    --MEDIUM-COLOR: gold;
    --LARGE-COLOR: firebrick;
    --XL-COLOR: rebeccapurple;
    --LAND-COLOR: dodgerblue;
}

/* GENERAL */

body {
    font-family: var(--FF);
    font-size: var(--FS);
    min-height: 100vh;
    background-color: var(--BGCOLOR);
    background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
    display: flex;
    flex-direction: column;
}

header, nav, main, footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer {
    position: sticky;
    background-color: var(--ALT-BGCOLOR);
    color: var(--LIGHT-COLOR);
}

header {
    top: 0;
}

nav {
    background-color: var(--LIGHT-COLOR);
    color: var(--DARK-COLOR);
    padding: 0.5rem;
    border-bottom: 2px solid var(--DARK-COLOR);
}

.nav-bar {
        display: none;
    }

main {
    flex-grow: 1; /* Para ocupar a tela */
}

footer {
    bottom: 0;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: var(--LIGHT-COLOR);
    transition: .2s;
}

footer a:hover {
    transform: scaleX(1.1);
}

/* Media Syntax:
    @media media type and (condition: breakpoint) {
        css rules
    }
ex.:@media screen and (min-width: 300px)
Obs.: 
    - min-width > a partir de tal tamanho
    - max-width > até tal tamanho
    */

/* SMALL */

@media screen and (min-width: 576px) {
    body {
        background-color: var(--SMALL-COLOR);
        background-image: radial-gradient(var(--RADIAL-COLOR), var(--SMALL-COLOR));
    }

    .nav-bar {
        display: block;
    }

    .menu {
        display: none;
    }
}

/* MEDIUM */

@media screen and (min-width: 768px) {
    body {
        background-color: var(--MEDIUM-COLOR);
        background-image: radial-gradient(var(--RADIAL-COLOR), var(--MEDIUM-COLOR));
    }
    
    
}

/* LARGE */

@media screen and (min-width: 992px) {
    body {
        background-color: var(--LARGE-COLOR);
        background-image: radial-gradient(var(--RADIAL-COLOR), var(--LARGE-COLOR));
    }

    
}

/* XL */

@media screen and (min-width: 1200px) {
    body {
        background-color: var(--XL-COLOR);
        background-image: radial-gradient(var(--RADIAL-COLOR), var(--XL-COLOR));
    }

    
}

/* MOBILE DEVICE LANDSCAPE */

@media screen and (max-width: 425px) and (min-aspect-ratio: 7/4) {
    body {
        background-color: var(--LAND-COLOR);
        background-image: radial-gradient(var(--RADIAL-COLOR), var(--LAND-COLOR));
    }

    h1, h2 {
        font-size: 1.2rem;
    }

    
}

